@model CustomerNavigationModel           
<div class="block block-account-navigation side-nav">
    <div class="panel-heading title">
        <h3><span>@T("Account.Navigation")</span> <i class="fas fa-angle-down"></i></h3>
    </div>
    <div class="side-nav-gbtbox showHide-ft">
        <ul>
            @await Component.InvokeAsync("Widget", new { widgetZone = "PublicWidgetZones.AccountNavigationBefore" })
            @foreach (var item in Model.CustomerNavigationItems)
            {
                <li class="@item.ItemClass @(Model.SelectedTab == item.Tab ? "active" : "inactive")">
                    <a href="@Url.RouteUrl(item.RouteName)"> @(item.Title)</a>
                </li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "PublicWidgetZones.AccountNavigationAfter" })
        </ul>
    </div>
</div>
