@model PrivateMessageListModel 
<div class="private-messages-box">
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#select-all-inbox').on('click', function () {
                $('#pm-inbox-table .rowcheckbox').prop('checked', $(this).is(':checked')).trigger('change');
            });

            $('#pm-inbox-table .rowcheckbox').on('change', function (e) {
                var numChkBoxes = $('#pm-inbox-table .rowcheckbox').length;
                var numChkBoxesChecked = $('#pm-inbox-table .rowcheckbox:checked').length;
                $('#select-all-inbox').prop('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
            });
        });
    </script>
        @if (Model.Messages.Count > 0)
        {
            <form asp-route="PrivateMessagesInbox" method="post">
                <div class="table-wrapper">
                    <table class="data-table table table-bordered table-hover mb-0" id="pm-inbox-table">
                        <thead>
                            <tr>
                                <th class="select">
                                    <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                        <input type="checkbox" id="select-all-inbox" class="custom-control-input" />
                                        <label for="select-all-inbox" class="custom-control-label"></label>
                                    </div>
                                </th>
                                <th class="from">
                                    @T("PrivateMessages.Inbox.FromColumn")
                                </th>
                                <th class="subject">
                                    @T("PrivateMessages.Inbox.SubjectColumn")
                                </th>
                                <th class="date">
                                    @T("PrivateMessages.Inbox.DateColumn")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Messages.Count; i++)
                            {
                                var item = Model.Messages[i];
                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                    <td class="select">
                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                            <input type="checkbox" name="pm@(item.Id)" id="pm@(item.Id)" class="rowcheckbox custom-control-input" />
                                            <label for="pm@(item.Id)" class="custom-control-label"></label>
                                        </div>
                                    </td>
                                    <td class="from">
                                        @if (item.AllowViewingFromProfile)
                                        {
                                            @Html.RouteLink(item.CustomerFromName, "CustomerProfile", new { Id = item.FromCustomerId })
                                        }
                                        else
                                        {
                                            @item.CustomerFromName
                                        }
                                    </td>
                                    <td class="subject">
                                        @Html.RouteLink(item.Subject, "ViewPM", new { privateMessageId = item.Id }, new { @class = (item.IsRead) ? "pm-read" : "pm-unread" })
                                    </td>
                                    <td class="date">
                                        @item.CreatedOn
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @{
                    var pager = Html.Pager(Model.PagerModel);
                }
                @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                {
                    <div class="pagination justify-content-center">
                        @pager
                    </div>
                }
                <div class="buttons">
                    <input class="btn btn-primary button-1 delete-selected-pm-button" name="delete-inbox" type="submit" value="@T("PrivateMessages.Inbox.DeleteSelected")" />
                    <input class="btn btn-secondary button-2 mark-unread-pm-button" name="mark-unread" type="submit" value="@T("PrivateMessages.Inbox.MarkAsUnread")" />
                </div>
             </form>
        }
</div>
