@model ManufacturerNavigationModel
@using Nop.Web.Models.Catalog;
@if (Model.Manufacturers.Count > 0)
{
    <div class="panel panel-default side-nav">
        <div class="panel-heading">
            <h3>@T("Manufacturers")</h3>
        </div>
        <div class="side-nav-gbtbox">
            <ul>
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")">
                        <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ManufacturerList")" class="btn btn-default">@T("Manufacturers.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}