@model ProductEmailAFriendModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(Model.ProductName);
    //page class
    Html.AddTitleParts(T("PageTitle.ProductEmailAFriend").Text);
    Html.AppendPageCssClassParts("html-email-a-friend-page");
}
<div class="onepageview">
<div class="container">
<div class="row">
<div class="col-lg-8 offset-lg-2">
<div class="page email-a-friend-page">
    <div class="page-title">
        <h3>@T("Products.EmailAFriend.Title")</h3>
    </div>
    <div class="page-body">
        <div class="title">
            <p><a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" class="product">@Model.ProductName</a></p>
        </div>
        @if (Model.SuccessfullySent)
        {
            <div class="result alert alert-success">
                @Model.Result
            </div>
        }
        else
        {
            <form asp-route="ProductEmailAFriend" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error alert alert-danger"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="form-group row">
                            <label asp-for="FriendEmail" class="col-md-3 col-form-label" asp-postfix=":"></label>
                            <div class="col-md-9">
                                <input asp-for="FriendEmail" class="friend-email form-control" placeholder="@T("Products.EmailAFriend.FriendEmail.Hint")" />
                            <div class="d-inline-block required-error">
                                <span asp-validation-for="FriendEmail"></span>
                                <nop-required />
                            </div></div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="YourEmailAddress" asp-postfix=":" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="YourEmailAddress" class="your-email form-control" placeholder="@T("Products.EmailAFriend.YourEmailAddress.Hint")" />
                            <div class="d-inline-block required-error">
                                <span asp-validation-for="YourEmailAddress"></span>
                                <nop-required />
                            </div></div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PersonalMessage" asp-postfix=":" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <textarea asp-for="PersonalMessage" class="your-email form-control" placeholder="@T("Products.EmailAFriend.PersonalMessage.Hint")"></textarea>
                            <div class="d-inline-block required-error">
                                <span asp-validation-for="PersonalMessage"></span>
                                <nop-required />
                            </div></div>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="form-group row">
                                <div class="offset-md-3 col-md-9">
                                    <div class="captcha-box">
                                        <nop-captcha />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-3 col-md-9">
                        <div class="buttons">
                            <input type="submit" name="send-email" class="btn btn-default send-email-a-friend-button" value="@T("Products.EmailAFriend.Button")" />
                        </div>
                    </div>
                </div>
             </form>
         }
    </div>
</div>
</div>
</div>
</div>
</div>