@model ShoppingCartModel.DiscountBoxModel
@if (Model.Display)
{
    <div class="coupon-box">
        <div class="title">
            <strong class="mb-0">@T("ShoppingCart.DiscountCouponCode")</strong>
        </div>
        <div class="panel-body">
            <div class="hint">
                @T("ShoppingCart.DiscountCouponCode.Tooltip")
            </div>
            <div class="coupon-code input-group">
                <input name="discountcouponcode" id="discountcouponcode" placeholder="@T("ShoppingCart.DiscountCouponCode.Tooltip")" type="text" class="discount-coupon-code form-control" aria-label="@T("ShoppingCart.DiscountCouponCode.Label")" />
                <span class="input-group-append">
                 <input type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode"
                           value="@T("ShoppingCart.DiscountCouponCode.Button")" class="btn btn-secondary button-2 apply-discount-coupon-code-button" /></span>
            </div>
            @foreach (var message in Model.Messages)
            {
                <div class="@(Model.IsApplied ? "message-success alert alert-success" : "message-failure alert alert-danger")">
                    @message
                </div>
            }
            @foreach (var discount in Model.AppliedDiscountsWithCodes)
            {
                <div class="current-code">
                    <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                    @*empty value (little hack for FormValueExistsAttribute)*@
                    <input type="submit" name="removediscount-@discount.Id" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
                </div>
            }
        </div>
    </div>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#discountcouponcode').on('keydown', function (event) {
                if (event.keyCode == 13) {
                    $('#applydiscountcouponcode').trigger("click");
                    return false;
                }
            });
        });
    </script>
}