@model BlogPostListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
    //page class
    Html.AppendPageCssClassParts("html-blog-page");
}
@section left {
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnBlogBefore })
    @await Component.InvokeAsync("BlogMonths")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnAfterBlogArchive })
    @await Component.InvokeAsync("BlogTags")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.LeftSideColumnBlogAfter })
}
<div class="page blog-page">
    <div class="title mid-content-title">
        <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss float-right" title="@T("Blog.RSS.Hint")"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
        <h3 class="d-inline-block mb-0">
            @if (string.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
            {
                if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                {
                    @string.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"))
                }
                else
                {
                    @T("Blog")
                }
            }
            else
            {
                @string.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag)
            }
        </h3>
    </div>
    <div class="page-body mt-4">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePosts })
        <div class="blog-posts row">
            @foreach (var item in Model.BlogPosts)
            {
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePost, additionalData = item })
                <div class="col-md-12">
                    <div class="blog-section">
                        <div class="post">
                            <div class="post-head">
                              <div class="row"> 
                                <div class="col-md-8"><h4>   
                                <a class="post-title" href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})">@item.Title</a></h4></div>
                               <div class="col-md-4 text-md-right">
                                <span class="post-date"><i class="far fa-calendar-alt"></i> @item.CreatedOn.ToString("D")</span>
                                </div>
                              </div>
                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePostBody, additionalData = item })
                            <div class="post-body">
                                @Html.Raw(!string.IsNullOrEmpty(item.BodyOverview) ? item.BodyOverview : item.Body)
                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPostBody, additionalData = item })
                            <div class="blog-details">
                                @if (item.Tags.Count > 0)
                                {
                                    <div class="tags">
                                        <label class="fw600">@T("Blog.Tags"):</label>
                                        <ul class="d-inline-block ml-2">
                                            @for (var i = 0; i < item.Tags.Count; i++)
                                            {
                                                var tag = item.Tags[i];
                                                <li><a href="@Url.RouteUrl("BlogByTag", new {tag = tag})">@tag</a></li>
                                                if (i != item.Tags.Count - 1)
                                                {
                                                    <li class="separator">,</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                                <div class="buttons">
                                    @if (item.AllowComments)
                                    {
                                      <div class="border-top pt-3">  
                                        <a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})#comments" class="read-comments">@string.Format(T("Blog.CommentsLink").Text, item.NumberOfComments)</a>
                                      </div>
                                    }
                                    <div class="pt-3">
                                      <a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})" class="read-more">@T("Blog.MoreInfo") <i class="fa fa-angle-double-right"></i></a>
                                   </div> 
                                </div>
                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageInsidePost, additionalData = item })
                        </div>
                    </div>
                  </div>    
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPost, additionalData = item })
            }
        </div>
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pagination justify-content-center">
                @pager
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPosts })
    </div>
</div>
